<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhueanJai</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style_page.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</head>
<body>
    <ul class="nav nav-tabs kuay">
        <li class="nav-item">
          <a class="nav-link" href="/index"><i class="fa fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="paying">Paying</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="loaning">Loaning</a>
        </li>
        <li class="nav-item create-room">
          <a class="nav-link active" aria-current="page" href="#">Create Room</a>
        </li>
      </ul>
    <div class="content">
    <form action="#" id = "form">
        <label for="์name"><p>ชื่อ</p>
            <div class="input-group">
                <input type="text" class="form-control" aria-label="name" id="name" placeholder="ใส่ชื่อของท่าน" required oninvalid="this.setCustomValidity('โปรดใส่ชื่อของท่าน')" oninput="setCustomValidity('')">
              </div>
        </label>
        <label for="minmax"><p>ยอดต่ำสุด-สูงสุด</p>
            <div class="input-group">
                <input type="number" id= "min" aria-label="min" class="form-control" placeholder="ยอดต่ำสุด" required oninvalid="this.setCustomValidity('โปรดใส่ยอดต่ำสุดของท่าน')" oninput="setCustomValidity('')">
                <input type="number" id = "max" aria-label="max" class="form-control" placeholder="ยอดสูงสุด" required oninvalid="this.setCustomValidity('โปรดใส่ยอดสูงสุดของท่าน')" oninput="setCustomValidity('')">
                <div class="input-group-prepend">
                    <span class="input-group-text">THB</span>
                  </div>
              </div>
        </label>
        <button id = "createRoom" class="btn btn-primary"><a href="chatRoom">สร้างห้อง</a></button>
    </form>
   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="socket.io/socket.io.js"></script>
    <script>
      const socket = io('/createRoom');
      const form = document.getElementById('form')
      const username = document.getElementById('name');
      const minPrice = document.getElementById('min');
      const maxPrice = document.getElementById('max');
      const createRoomButton = document.getElementById('createRoom');

      form.addEventListener("submit", () => {
        socket.emit('sendUsersData',{
            userName: username.value,
            minPrice: minPrice.value,
            maxPrice: maxPrice.value
        })
      });
    </script>
</body>
</html>