<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paying</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style_page.css" />
  </head>
  <body>
    <ul class="nav nav-tabs kuay">
      <li class="nav-item">
        <a class="nav-link" href="/index"><i class="fa fa-home"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active2" aria-current="page" href="#">Paying</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="loaning">Loaning</a>
      </li>
      <li class="nav-item">
        <form action="" class="join-room-form" id="join-room-form">
          <input
            type="text"
            name=""
            id="join-room-input"
            placeholder="ใส่หมายเลขห้อง"
          />
          <button id="join-room-button" class="btn btn-primary">เข้าห้อง</button>
        </form>
      </li>
      <li class="nav-item create-room">
        <a class="nav-link" href="payingCreateRoom">Create Room</a>
      </li>
    </ul>
    <section id="content" class="content"></section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <script src="socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      const content = document.getElementById("content");
      let room = [];
      socket.on("readPayingUsersData", (usersData) => {
        console.log(usersData.length);
        if(usersData.length == 0){
          const noRoom = document.createElement('p');
          noRoom.className = "no-room"
          noRoom.textContent = "ไม่มีห้องที่ถูกสร้าง"
          content.appendChild(noRoom);
        }
        for (let i in usersData) {
          const joiner = document.createElement("div");
          joiner.className = "joiner";
          joiner.id = "joiner";
          const pName = document.createElement("p");
          const strongName = document.createElement("strong");
          strongName.textContent = usersData[i].userName;
          const room = document.createElement("p");
          room.id = usersData[i].room;
          room.textContent = "Room: " + usersData[i].room;
          const total = document.createElement("div");
          total.className = "total";
          const total_text = document.createElement("p");
          total_text.className = "total_text";
          const minmax = document.createElement("strong");
          minmax.textContent = `${usersData[i].minPrice} - ${usersData[i].maxPrice} THB`;
          /* const joinButtonSpace = document.createElement("div");
          joinButtonSpace.className = "join_button_space";
          const linkButton = document.createElement("a");
          linkButton.href = "chat";
          linkButton.target = '_blank';
          const joinButton = document.createElement("button");
          joinButton.className = "btn btn-outline-success join_button";
          joinButton.textContent = "JOIN"; */
          total_text.appendChild(minmax);
          total.appendChild(total_text);
          pName.appendChild(strongName);
          joiner.appendChild(pName);
          joiner.appendChild(room);
          joiner.appendChild(total);
          content.appendChild(joiner);
        }
      });
      socket.on("update", (usersData) => {
        console.log(usersData.length);
        content.textContent = "";
        console.log(usersData);
        for (let i in usersData) {
          const joiner = document.createElement("div");
          joiner.className = "joiner";
          joiner.id = "joiner";
          const pName = document.createElement("p");
          const strongName = document.createElement("strong");
          strongName.textContent = usersData[i].userName;
          const room = document.createElement("p");
          room.id = usersData[i].room;
          room.textContent = "Room: " + usersData[i].room;
          const total = document.createElement("div");
          total.className = "total";
          const total_text = document.createElement("p");
          total_text.className = "total_text";
          const minmax = document.createElement("strong");
          minmax.textContent = `${usersData[i].minPrice} - ${usersData[i].maxPrice} THB`;
          /* const joinButtonSpace = document.createElement("div");
          joinButtonSpace.className = "join_button_space";
          const linkButton = document.createElement("a");
          linkButton.href = "chat";
          linkButton.target = '_blank';
          const joinButton = document.createElement("button");
          joinButton.className = "btn btn-outline-success join_button";
          joinButton.textContent = "JOIN"; */
          total_text.appendChild(minmax);
          total.appendChild(total_text);
          pName.appendChild(strongName);
          joiner.appendChild(pName);
          joiner.appendChild(room);
          joiner.appendChild(total);
          content.appendChild(joiner);
        }
      });
      const joinRoomForm = document.getElementById("join-room-form");
      const joinRoomInput = document.getElementById("join-room-input");
      const joinRoomButton = document.getElementById("join-room-button");
      joinRoomForm.addEventListener("submit", (e) => {
        e.preventDefault();
        if (joinRoomInput.value) {
          socket.emit("sendPayingUsersDataJoinRoom", Number(joinRoomInput.value));
        }
        content.textContent = "";
        const success = document.createElement("p");
        success.textContent = "สร้างห้องสำเร็จ";
        const joinRoom = document.createElement("button");
        const joinRoomLink = document.createElement("a");
        joinRoomLink.href = "chat2";
        joinRoomLink.textContent = "เข้าห้อง";
        joinRoom.appendChild(joinRoomLink);
        content.appendChild(success);
        content.appendChild(joinRoom);
      });
    </script>
  </body>
</html>
