body,
html {
  width: 100%;
  height: 100%;
  background: url(Background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.nav {
  background-color: #ffffffca;
  position: fixed;
  width: 100vw;
  transition: 0.5s;
}


.create-room {
  margin-left: auto;
}
.nav-item {
  font-family: "Caveat";
  font-size: 1.5rem;
  transition: 0.5s;
  display: flex;
  align-items: center;
}
.nav-tabs {
  --bs-nav-tabs-link-active-bg: #00000080;
  --bs-nav-tabs-link-active-border-color: #00000080;
}
.content {
  /*background-color: bisque;*/
    padding: 5rem 0;
}

.joiner, form:not(.join-room-form){
  padding: 20px;
  margin:3vh auto;
  background-color: #ffffff80;
  border-color: #ffffff80;
  border-radius: 1rem;
  max-width: 600px;
  transition: 0.5s;
}

.joiner:hover, form:hover:not(.join-room-form), .nav:hover {
  box-shadow: 0 0 10px blue;
}
.nav-item:hover{
  background-color: #fffffff3 ;

}

@media only screen and (max-width: 657px) {
    
    .joiner, form:not(.join-room-form){
        padding: 20px;
        margin:3vh 4vw;
        border-radius: 1rem;
        
      }
  }
.join_button_space {
  /*background-color: rgb(255, 0, 0);*/
  text-align: right;
}

form{
    padding:20px 5%;
}

p, label{
    width:100%;
    text-align: left;
}

#createRoom{
    border-radius: 300px;
}

@media only screen and (max-width: 376px) {
    a{
        font-size: 1rem;
    }
  }

  .sdf{
    background-color: aqua;
  }

  .total{
    display:flex;
  }

.active2{
  background-color: azure;
}

.join-room-li{
  display:flex;
}
.join-room-form{
  padding: 0;
  display: flex;
  align-items: center;
  position: fixed;
  font-size: 1rem;
}

.no-room{
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.682);
  display: flex;
  justify-content: center;
  text-shadow: 0 0 5px black;
}